/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
html { 
  background: url(assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.container{
  width: 556px;
  height: 700px;
  margin: 0 auto 0 auto;
  -moz-box-shadow:    5px 5px 12px 0px #363737;
  -webkit-box-shadow: 5px 5px 12px 0px #363737;
  box-shadow:         5px 5px 12px 0px #363737;
  background-color: rgba(64,64,64,0.75);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#board {
  margin: 0 auto 0 auto;
  padding-top: 53px;
}

.asteroid {
  background-image: url("asteroid.png");
  background-size: 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: absolute;
}

.player {
  background-image: url('spaceship.png');
  background-size: 100%;
  height: 37.5px;
  width: 50px;
  display: inline-block;
  position: absolute;
}
